h1 {
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: #082D0F;
}

.jumbotron {
	border-radius: 25px;
    background-color: #8CB369;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}






.table {
   font-family: 'Roboto', sans-serif;


}

caption {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.panel {
	border-radius: 25px;
    background-color: #DEE5E5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
	
}

.panel-default,.panel-heading{
	border-radius: 15px 15px 0px 0px;
	border-style: solid;
	border-width: 1px;
	
}

